.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #101011;
    padding: 0 2rem;
  }
  
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.main {
  text-align: center;
}

.subtitle {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #ffffff;
}

.inputGroup {
  display: flex;
  align-items: center;
}

.input {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  margin-right: 1rem;
  width: 400px;
}

.selectGroup {
  display: flex;
  align-items: center;
}

.select {
  padding: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
}

.button {
  padding: 1.5rem 2rem;
  font-size: 0.5rem;
  background-color: #00ffa2;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #1b1b1d;
}


/* .translator-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
}

.translator-row {
    display: flex;
    align-items: center;
}

.translator-select{
    display: flex;
    flex-direction: column;
}

.translator-container-item{
    margin-bottom: 50px;
}
.translator-container-dropdown{

}

select{
    height: 40px;
    border-radius: 4px;
    color: black;
}
.translator-box{
    margin-top: 10px;
    height: 200px;
    width: 100%;
    border-radius: 8px;
    margin-top: 10px;
}

.button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #035256;
}

textarea{
    background: white;
    height: 200px;
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    color: #010912;
}

input{
    background: white;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
    color: #010912;
}


@media (min-width: 750px) {
.translator-select{
    flex-direction: row;
    justify-content: space-between;
}
    .translator-container{
        width: 100%
    }
    .translator-container-item{
        width: 45%;
    }
} */
