
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribute space between header, main, and footer */
  align-items: center;
  background-color: #01231c;
  padding: 0 2rem;
}

.footer {
  margin-top: 2rem;
  color: #999999;
  font-family: 'Poppins', sans-serif;
}